<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwiL_m8Q5FrxS-1LK0ZSj_z_CxuT-i_pU</string>
	<key>GCM_SENDER_ID</key>
	<string>314923488171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chafin.chafinLoans</string>
	<key>PROJECT_ID</key>
	<string>chafin-23cad</string>
	<key>STORAGE_BUCKET</key>
	<string>chafin-23cad.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314923488171:ios:e0bec6cefaee3d32caf8ee</string>
	<key>DATABASE_URL</key>
	<string>https://chafin-23cad-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>